asgiref==3.8.1
axios==0.4.0
bcrypt==4.1.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
distlib==0.3.8
Django==5.0.4
django-restframework==0.0.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
filelock==3.14.0
fonttools==4.53.0
idna==3.7
kiwisolver==1.4.5
lxml==5.2.2
markdown-it-py==3.0.0
matplotlib==3.9.0
mdurl==0.1.2
numpy==1.26.4
packaging==24.1
pbr==6.0.0
pillow==10.3.0
platformdirs==4.2.1
Pygments==2.18.0
PyJWT==2.8.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
requests==2.32.3
rich==13.7.1
six==1.16.0
sqlparse==0.5.0
stevedore==5.2.0
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.26.1
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.0
virtualenvwrapper-win==1.2.7
